<div class="container">
  <div class="flex-centered">
    <h1>Portfolio</h1>
  </div>

  <div class="sections">
    <section>
      <header class="section-header">
        <h2 class="header-title">YATA</h2>
      </header>
      <div class="content">
        <ul>
          <li>Create projects which can have many sections & task lists.</li>
          <li>
            The sections within a project also serve as columns within a Kanban
            board.
          </li>
          <li>
            Tasks can be categorized by tags. A task can have one or many tags.
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
