<h1>Portfolio</h1>
<hr />

<section>
  <h2>YATA</h2>
  <div class="content">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Create projects which can have many sections & task lists.
      </li>
      <li class="list-group-item">
        The sections within a project also serve as columns within a Kanban
        board.
      </li>
      <li class="list-group-item">
        Tasks can be categorized by tags. A task can have one or many tags.
      </li>
    </ul>
  </div>
</section>
