<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Daniel Sprohar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <span class="spacer"></span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item flex align-items-center">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">
            Contact
          </a>
        </li>
        <li class="nav-item flex align-items-center">
          <a class="nav-link" routerLink="portfolio" routerLinkActive="active">
            Portfolio
          </a>
        </li>
        <li class="nav-item flex align-items-center">
          <a class="nav-link" routerLink="resume" routerLinkActive="active">
            Résumé
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://gitlab.com/danielsprohar"
            target="_blank"
            class="nav-link"
          >
            <img
              src="assets/gitlab-logo-500.svg"
              alt="GitLab"
              class="gitlab-logo"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
