<nav id="nav" class="container">
  <div class="terminal-nav">
    <header class="terminal-logo">
      <div class="logo terminal-prompt">
        <a data-test="homeLink" class="no-style" routerLink="/"> ~ </a>
        <ng-container *ngIf="url$ | async as url">
          <span>{{ url }}</span>
        </ng-container>
      </div>
    </header>
    <nav class="terminal-menu">
      <ul>
        <li>
          <a data-test="cvLink" class="menu-item" routerLink="/resume">
            Résumé
          </a>
        </li>
        <li>
          <a
            data-test="portfolioLink"
            class="menu-item"
            routerLink="/portfolio"
          >
            Portfolio
          </a>
        </li>
        <li>
          <a
            class="menu-item"
            href="mailto:daniel@sprohar.dev"
            rel="noopener noreferrer"
            target="_blank"
          >
            Contact
          </a>
        </li>
        <li>
          <a
            href="https://gitlab.com/danielsprohar"
            target="_blank"
            class="menu-item no-style"
          >
            <img
              src="assets/gitlab-logo-600.svg"
              alt="GitLab"
              class="gitlab-logo"
            />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
