<nav class="container">
  <div class="terminal-nav">
    <header class="terminal-logo">
      <div class="logo terminal-prompt">
        <a data-test="homeLink" class="no-style" routerLink="/"> ~ </a>
        <ng-container *ngIf="url$ | async as url">
          <span>{{ url }}</span>
        </ng-container>
      </div>
    </header>
    <nav class="terminal-menu">
      <ul>
        <li>
          <a data-test="contactLink" class="menu-item" routerLink="/contact">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
