h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-gap-1 {
  column-gap: 1em;
}

.row-gap-1 {
  row-gap: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.text-centered {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222225;
    --font-color: #e8e9ed;
  }

  .btn {
    color: var(--invert-font-color);
  }
}
