<div class="resume container mb-1">
  <section class="flex-centered">
    <header class="text-centered">
      <h1 class="my-name">Daniel Sprohar</h1>
      <p>Software Developer</p>
    </header>
  </section>

  <section>
    <header class="mb-1">
      <h2>Education</h2>
    </header>

    <div class="content">
      <div class="entry">
        <h3><b>The University of Texas Permian Basin</b></h3>
        <div class="flex column-gap-1 mb-1">
          <span>2017-2020</span>
          <address>Odessa, TX</address>
        </div>
        <div>
          <p>Bachelor of Science in Computer Science</p>
          <p>Minor: Mathematics</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <header class="mb-1">
      <h2>Skills</h2>
    </header>
    <div class="content">
      <div class="entry">
        <h3><b>Programming Languages</b></h3>
        <ul class="skills-list">
          <li>TypeScript</li>
          <li>JavaScript</li>
          <li>Java</li>
          <li>C#</li>
          <li>SQL</li>
        </ul>
      </div>
      <div class="entry">
        <h3><b>Frameworks, Libraries, etc.</b></h3>
        <ul class="skills-list">
          <li>Node.js</li>
          <li>Angular</li>
          <li>NestJS</li>
          <li>Prisma</li>
          <li>Express.js</li>
          <li>.NET</li>
          <li>Entity Framework Core</li>
        </ul>
      </div>
      <div class="entry">
        <h3><b>Platforms & Tools</b></h3>
        <ul class="skills-list">
          <li>Git</li>
          <li>Docker</li>
          <li>Linode</li>
          <li>Google Cloud Platform</li>
          <li>Firebase</li>
          <li>Auth0</li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <header class="mb-1">
      <h2>Projects</h2>
    </header>
    <div class="content">
      <div class="entry">
        <h3 class="mb-1"><b>YATA</b></h3>
        <div>
          <p>Yet Another To-Do App (YATA)</p>
        </div>
      </div>
    </div>
  </section>
</div>
