<div id="resume" class="container d-flex flex-column row-gap-4 card">
  <div class="card-body ml-4 mr-4">
    <header>
      <h1 class="text-center">Daniel Sprohar</h1>
      <p class="text-center fs-5">Software Developer</p>
    </header>

    <hr />

    <!-- Education -->
    <section>
      <h2 class="mb-3">Education</h2>

      <div class="content">
        <div class="mb-4">
          <h5>The University of Texas Permian Basin</h5>
          <div>
            <p>Bachelor of Science in Computer Science</p>
          </div>
          <div class="d-flex column-gap-2">
            <span class="year">2017-2020</span>
            <address class="fst-italic"><i>Odessa, TX</i></address>
          </div>
        </div>
      </div>
    </section>

    <hr />

    <section>
      <h2 class="mb-3">Certifications</h2>

      <div class="content">
        <div class="mb-4">
          <h5>
            Building Scalable Java Microservices with Spring Boot and Spring
            Cloud
          </h5>
          <div>
            <dl class="details">
              <dt class="details-key">Issuing Organization</dt>
              <dd class="details-value">Coursera</dd>

              <dt class="details-key">Issue Date</dt>
              <dd class="details-value">May 2023</dd>

              <dt class="details-key">Expiration Date</dt>
              <dd class="details-value">
                <i>This certificate does not expire</i>
              </dd>

              <dt class="details-key">Credential ID</dt>
              <dd class="details-value">Z9H8CK7WJSV8</dd>

              <dt class="details-key">Credential URL</dt>
              <dd class="details-value">
                <a
                  target="_blank"
                  href="https://www.coursera.org/account/accomplishments/certificate/Z9H8CK7WJSV8"
                  rel="noopener noreferrer"
                >
                  https://www.coursera.org/account/accomplishments/certificate/Z9H8CK7WJSV8
                </a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </section>

    <hr />

    <!-- Skills & Tools -->
    <section>
      <h2 class="mb-4">Skills</h2>
      <div class="content">
        <div class="mb-4">
          <h5>Programming Languages</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">TypeScript</li>
            <li class="list-group-item border-0">JavaScript</li>
            <li class="list-group-item border-0">Java</li>
            <li class="list-group-item border-0">C#</li>
            <li class="list-group-item border-0">SQL</li>
          </ul>
        </div>
        <div class="mb-4">
          <h5>Frameworks, Libraries, etc.</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">Node.js</li>
            <li class="list-group-item border-0">Angular</li>
            <li class="list-group-item border-0">NgRX</li>
            <li class="list-group-item border-0">RxJS</li>
            <li class="list-group-item border-0">NestJS</li>
            <li class="list-group-item border-0">Prisma</li>
            <li class="list-group-item border-0">Express.js</li>
            <li class="list-group-item border-0">.NET</li>
            <li class="list-group-item border-0">Entity Framework Core</li>
          </ul>
        </div>
        <div class="mb-4">
          <h5>Platforms & Tools</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">Git</li>
            <li class="list-group-item border-0">Docker</li>
            <li class="list-group-item border-0">Linode</li>
            <li class="list-group-item border-0">Google Cloud Platform</li>
            <li class="list-group-item border-0">Firebase</li>
            <li class="list-group-item border-0">Auth0</li>
          </ul>
        </div>
      </div>
    </section>

    <hr />

    <section>
      <h2 class="mb-4">Projects</h2>
      <section>
        <h5>Yet Another To-Do App (YATA)</h5>
        <p>
          A web app built with Angular, NestJS, and PostgreSQL. As the name
          suggests, YATA is a to-do app. Inspired by Todoist and TickTick.
        </p>
        <p>
          You can view the demo at
          <a
            target="_blank"
            href="https://demo.yata.one"
            rel="noopener noreferrer"
          >
            https://demo.yata.one
          </a>
        </p>
        <p>
          You can view the source code at
          <a
            href="https://gitlab.com/yata-one/yata-spa"
            target="_blank"
            rel="noopener noreferrer"
          >
            https://gitlab.com/yata-one/yata-spa
          </a>
        </p>
      </section>
    </section>
  </div>
</div>
