<div class="container sections card">
  <div class="card-body ml-4 mr-4">
    <header>
      <h1 class="text-center">Daniel Sprohar</h1>
      <p class="text-center fs-5">Software Developer</p>
    </header>

    <hr />

    <!-- Education -->
    <section>
      <header class="section-header">
        <h2 class="header-title">Education</h2>
      </header>

      <div class="content">
        <div class="mb-4">
          <h4>The University of Texas Permian Basin</h4>
          <div>
            <p>Bachelor of Science in Computer Science</p>
          </div>
          <div class="flex column-gap-1 mb-1">
            <span class="year">2017-2020</span>
            <address><i>Odessa, TX</i></address>
          </div>
        </div>
      </div>
    </section>

    <hr />

    <!-- Skills & Tools -->
    <section>
      <header class="section-header">
        <h2 class="header-title">Skills</h2>
      </header>
      <div class="content">
        <div class="mb-4">
          <h4>Programming Languages</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">TypeScript</li>
            <li class="list-group-item border-0">JavaScript</li>
            <li class="list-group-item border-0">Java</li>
            <li class="list-group-item border-0">C#</li>
            <li class="list-group-item border-0">SQL</li>
          </ul>
        </div>
        <div class="mb-4">
          <h4>Frameworks, Libraries, etc.</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">Node.js</li>
            <li class="list-group-item border-0">Angular</li>
            <li class="list-group-item border-0">NgRX</li>
            <li class="list-group-item border-0">RxJS</li>
            <li class="list-group-item border-0">NestJS</li>
            <li class="list-group-item border-0">Prisma</li>
            <li class="list-group-item border-0">Express.js</li>
            <li class="list-group-item border-0">.NET</li>
            <li class="list-group-item border-0">Entity Framework Core</li>
          </ul>
        </div>
        <div class="mb-4">
          <h4>Platforms & Tools</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">Git</li>
            <li class="list-group-item border-0">Docker</li>
            <li class="list-group-item border-0">Linode</li>
            <li class="list-group-item border-0">Google Cloud Platform</li>
            <li class="list-group-item border-0">Firebase</li>
            <li class="list-group-item border-0">Auth0</li>
          </ul>
        </div>
      </div>
    </section>

    <hr />

    <section>
      <header class="section-header">
        <h2 class="header-title">Projects</h2>
      </header>
      <div class="content">
        <div class="mb-4">
          <h4>Yet Another To-Do App (YATA)</h4>
          <div>
            <p>
              A web app built with Angular, NestJS, and PostgreSQL. As the name
              suggests, YATA is a to-do app. Inspired by Todoist and TickTick.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
